/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #f69b10;
  --error: #e7195a;
}
body {
  background: #ced4da;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #2b2d42;
  color: #e5e5e5;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #e5e5e5;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 100px;
}

.workout-details {
  background: #e9ecef;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
#workout-date{
  font-size: 1.3em;
  color: #2b2d42;
  
}
#workout-time{
  font-size: 0.8em;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.workout-form{
  padding: 0px 50px 50px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  max-height: 50vh;
  /* background:#fff; */
}
.add-exercise-button{
  margin-left: 40px;
}
.add-workout-button{
  margin-left: 90px;
}


/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
.user-name{
  font-size: 1.5em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.Bmi {
  display: grid;
  grid-template-rows: 1fr 2.65fr;
 
}
.bmi-form{
  margin: auto;
  width: 25vw;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}
.bmi-form-head{
  text-align: center;
}
.bmi-form-button{
  text-align: center;
}


.bmi-details {
  background: #fff;
  border-radius: 10px;
  margin: 0px auto;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 40vw;
  height: 17vh;
  align-items: center; 
  text-align: center; 
}
.bmi-details span{
  padding: 5px 30px 5px 30px;
}
.bmi-details h3 {
  margin:auto;
  padding: 5px 0px;
  font-size: 1.2em;
  color: var(--primary);
}
.bmi-details p{
  padding: 5px;
  margin: 0px;
  font-size: 1.5em;
}
.logo-and-bmi {
  display: flex;
  align-items: center;
}

.bmi-nav {
  margin-left: 60px; /* Adjust the margin as needed */
}